
*{
  marging:0;
  padding:0;
}


.student-list {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}


.student-list {
  text-align: center;
  margin-top: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 15px;
  margin: 10px;
  width: 250px;
  background-color: #f9f9f9;
}

.card p {
  margin: 8px 0;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.student-list {
  text-align: center;
  margin-top: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 15px;
  margin: 10px;
  width: 250px;
  background-color: #f9f9f9;
}

.card p {
  margin: 8px 0;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  background-color: #f3f3f3;
  color: #333;
  border: 1px solid #ccc;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
}


/* Nav bar styles */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  gap:10px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 15px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 8px;
  border-radius: 5px;
  margin: 25px;
}

.navbar ul li a:hover {
  background-color: #555;
}

/* Page content styles */
.page-content {
  padding: 20px;
  margin-top: 20px;
}


.form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.form-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}

.form-container label {
  margin-bottom: 10px;
  font-weight: bold;
  width: 100%; 
  text-align: left; 
}

.form-container input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; 
}

.form-container button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; 
}

.form-container button:hover {
  background-color: #0056b3;
}


